

container{
    border: 1px solid gray;
  

    
}
.border-dark {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-dark-rgb),var(--bs-border-opacity))!important;
    height: 166vh;
}

.col-12 {
    flex: 0 0 auto;
    border: 1px solid black;
    padding: 50px;
    height: 1em !important;
        width: 99% !important;
        position: relative;
        left: 6px;
        margin-top: 5px !important;
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
    font-family: math;
    font-weight: bold;
    margin-top: -30px !important;
    text-align: center;
}
.rounded {
    border-radius: var(--bs-border-radius)!important;
    width: 150px !important;
    float: right !important;
    position: relative !important;
    left: 12px !important;
    top: -57px !important;
}
.justify-content-evenly {
    justify-content: space-evenly!important;
    position: relative !important;
    left: 200px !important;
    font-family: math !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin-top: 20px !important;

}
.bgy {
    --bs-bg-opacity: 1;
    background: yellow !important;
    font-family: math !important;
    text-align: center;
    display: block !important;

}



#input5{
    position: relative;
    left: -13px;  
    border: none;

}


#input7{
    position: relative;
    left: -13px !important;
    border: none;

}

#input8{
    position: relative;
    left: -4px !important;
    border: none;

}
#input9{
    position: relative;
    left: -4px !important;
    border: none;

}


#number14{
    position: relative !important;
    top: -39px !important;
    left: -204px !important; 
}

#number15{
    position: relative !important;
    left: 170px !important; 
}
#number16{
    position: relative !important;
    left: 158px !important; 
    top: 8px ;
}


#input11{
    position: relative;
    left: -170px !important;
    border: none;

}


#number17{
    position: relative !important;
    left: 158px !important; 
 
}
#number18{
    position: relative !important;
    left: 158px !important; 
    top: 8px ;  
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    position: relative;
    /* margin-top: -12px !important; */
    top: -3px !important;
}
.col-form-label {
    padding-top: calc(.375rem + var(--bs-border-width));
    padding-bottom: calc(.375rem + var(--bs-border-width));
    margin-bottom: 0;
    font-size: inherit;
    font-size: 11px !important;
    line-height: 1.5;
    font-weight: 500 !important;
        text-wrap: nowrap !important;
}
.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    position: relative;
    left: 33px !important;
    margin: 0 !important;
    padding: 0px !important;
}
label#govern1 {
    position: relative;
    left: -10px;
}
#number2 {
    position: relative !important;
    left: 29px !important;
}
div#number3 {
    /* display: flex; */
    position: relative !important;
    top: -39px !important;
    left: -323px !important;
}
label#govern2 {
    position: relative;
    left: 10px;
}



#input6 {
    position: relative;
    left: -7px !important;
    top: 1px;
    border: none;

}
#input2 {
    position: relative;
    left: -36px;
    border: none;

}
#number0 {
    position: relative;
    left: 1px !important;
    top: -62px !important;
}
#number4 {
    position: relative;
    left: 7px !important;
    top: -30px !important;

}
#input4 {
    position: relative;
    left: -14px;
    border: none;

}
#head4 {
    position: relative !important;
    left: 1px !important;
    display: block !important;
    border: none !important;
    width: 99% !important;
    position: relative;
    top: -160px !important;
}



#number6 {
    position: relative !important;
    top: -38px !important;
    left: -282px !important;
}
#number5 {
    position: relative !important;
    top: -39px !important;
    left: -288px !important;
}

div#number1 {
    position: relative !important;
    left: 20px !important;
}
.flex-row-reverse {
    flex-direction: row-reverse!important;
    position: relative !important;
    left: -303px !important;
}


#number7 {
    position: relative;
    left: 20px !important;
    top: -92px !important;
}
#number8 {
    position: relative;
    left: 0px !important;
    top: -85px !important;
}
#number12 {
    position: relative !important;
    top: -38px !important;
    left: -290px !important;
}
#number9 {
    position: relative;
    left: 0px !important;
    top: -114px !important;
}
div#number13 {
    position: relative;
    top: -39px !important;
    left: -290px !important;
}
#number10 {
    position: relative;
    left: 0px !important;
    top: -144px !important;
}
#number11 {
    position: relative;
    left: 20px !important;
    top: -175px !important;
}
div#head2 {
    position: relative !important;
    left: 1px !important;
    display: block !important;
    top: -175px !important;
    border: none !important;
    width: 98.5% !important;
}

#head3 {
    position: relative !important;
    left: 1px !important;
    display: block !important;
    top: -167px !important;
    border: none !important;
    width: 98.5% !important;
}

#input10 {
    position: relative;
    left: -183px !important;
    border: none;

}
#input13 {
    position: relative;
    left: -171px !important;
    border: none;

}
#number14 {
    position: relative !important;
    top: -39px !important;
    left: -290px !important;
}
#input12 {
    position: relative;
    left: -171px !important;
    border: none;

}
.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
    width: 104.5%;
    position: relative;
    right: 11px;
}

tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    position: relative;
    /* margin-top: -12px !important; */
    top: 3px !important;
}
td#td1 {
    position: relative;
    left: 230px !important;
    top: 13px !important;
}
td#td2 {
    position: relative;
    left: 230px !important;
    top: 13px !important;
}
td#td3 {
    position: relative;
    left: 230px !important;
    top: 13px !important;
}
td#td4 {
    position: relative;
    left: 230px !important;
    top: 13px !important;
}

th#zero {
    position: relative;
    left: -1000px !;
    left: 3px !important;
    top: 14px !important;
}
#one {
    position: relative;
    left: -1000px !;
    left: 3px !important;
    top: 14px !important;
}
#two {
    position: relative;
    left: -1000px !;
    left: 3px !important;
    top: 14px !important;
}
#three {
    position: relative;
    left: -1000px !;
    left: 3px !important;
    top: 14px !important;
}
td#id1 {
    position: relative;
    /* right: -36px !important; */
    left: 16px !important;
    top: 16px !important;
}
td#id2 {
    position: relative;
    /* right: -36px !important; */
    left: 16px !important;
    top: 16px !important;
}
td#id3 {
    position: relative;
    /* right: -36px !important; */
    left: 16px !important;
    top: 16px !important;
}
td#id4 {
    position: relative;
    /* right: -36px !important; */
    left: 16px !important;
    top: 16px !important;
}
th#serial {
    position: relative;
    left: 3px !important;
    font-size: 13px;
    font-weight: 500;
}
th#length {
    position: relative;
    left: 70px !important;
    text-wrap: nowrap !important;
    font-size: 13px;
    font-weight: 500;
}
th#border {
    position: relative;
    left: 138px !important;
    font-size: 13px;
    font-weight: 500;
}

div#number22 {
    position: relative;
    top: -66px;
    left: -284px !important;
}

input#input18 {
    padding: 0 !important;
    border: none;
    background: none;

}
input#input20 {
    padding: 0 !important;
    border: none;
    background: none;


}
input#input19 {
    padding: 0 !important;
    border: none;
    background: none;


}
input#input21 {
    padding: 0 !important;
    border: none;
    background: none;


}

div#number22 {
    position: relative;
    top: 2px;
    left: -326px !important;
}


div#topedit {
    position: relative;
    top: -163px;
    width: 105% !important;
}

div#number22 {
    position: relative;
    top: 163px;
    left: -326px !important;
}

.img-fluid {
    height: auto;
    position: relative;
    top: -16px;
    width: 100% !important;
    left: -12px;
    height: 20vh !important;
    border: 1px solid;
}
#input14, #input15, #input16, #input17 {
    position: relative;
    left: -136px !important;
    top: -32px !important;
    padding: 5px 30px !important;
    border: none;

}
div#borblue {
    position: relative;
    top: -179px;
    left: -13px;
    height: 8.3vh;
    width: 105% !important;
    background-color: yellow;
}
div#number20 {
    position: relative;
    left: -26px !important;
    top: 196px;
}
div#number19 {
    position: relative;
    left: 249px !important;
    top: 169px;
}
div#number21 {
    position: relative;
    top: 139px;
    left: -37px !important;
}
div#number22 {
    position: relative;
    top: 165px;
    left: -324px !important;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.666667%;
    position: relative !important;
    left: 45px !important;
    border: 2px solid cornflowerblue !important;
    top: 3px;
    height: 151vh;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 60vh !important;
    position: relative !important;
    /* padding: 75px; */
    left: -22px !important;
    border: none;

}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    position: relative;
    top: 200px;
}
.form-label {
    margin-bottom: 0.5rem;
    border: 1px solid;
    background: yellow;
    position: relative;
    left: 24px;
    top: 8px;
    width: 100%;
    text-align: center;
}
input#formGroupExampleInput {
    height: 14vh;
    border: 1px solid cornflowerblue;
    position: relative;
    left: 24px;
    border-radius: 0;


}
div#dimenssion {
    position: relative;
    top: -24px;
}

div#moving {
    position: relative;
    left: 308px;
    top: 154px;
}


label#typeusing {
    position: relative;
    width: 215px;
    left: -47px;
}
label#descriptionbuild {
    position: relative;
    left: -1px;
    width: 271px;
}


input#exampleFormControlInput4 {
    padding: 20px;
    width: 213px;
    position: relative;
    left: -46px;
    border-radius: 0;
}



label#area {
    background: none;
    color: red;
    border: none;
    position: relative;
    left: -1px;
    font-size: 14px;
    top: -1px;
}



input#exampleFormControlInput5 {
    padding: 20px;
    width: 272px;
    position: relative;
    left: -2px;
    border-radius: 0;
}

.col-7 {
    flex: 0 0 auto;
    width: 54.333333% !important;
    position: relative;
    top: 4px;
    left: 6px;
    height: 92vh;
    border: 1px solid;
}
.g-0, .gy-0 {
    --bs-gutter-y: 0;
    position: relative;
    top: 144px;
}


.list-group-numbered {
    list-style-type: none;
    counter-reset: section;
    font-size: 9px;
    font-weight: 500;
    position: relative;
    left: 40px;
    width: 499px;
    border-radius: 0;
}

.list-group-item:first-child,.list-group-item+.list-group-item,.list-group-item+.list-group-item,.list-group-item+.list-group-item{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: #ffe2c0;
}
.col-md-8 {
    flex: 0 0 auto;
    background: #ffe2c0;
    width: 66.66666667%;
    direction: rtl;
    top: -75px;
    position: relative;
    left: 13px;
    height: 38vh;

}
div#note {
    border: 3px solid skyblue;
    box-shadow: 1px 2px 2px black;
    height: 12vh;
    width: 229px;
    position: relative;
    left: -12px;
    top: 150px;
}
div#typeuse {
    position: relative;
    right: 14px;
    width: 131px;
    top: -11px;
}
div#description {
    position: relative;
    right: 330px;
    width: 403px;
    top: -127px;
}
input#exampleFormControlInputcircle {
    width: 50px;
    height: 50px;
    border-radius: 120px;
    position: relative;
    top: 37px;
    left: -28px;
    border: 1px solid;
}
td#id12, #id22, #id32, #id42 {
    position: relative;
    left: 30px !important;
    top: 0px !important;
}
th#serial2 {
    font-size: 13px;
    position: relative;
    left: 4px !important;
}
th#border2 {
    font-size: 13px;
    position: relative;
    left: 10px !important;
}

th#length2 {
    font-size: 13px;
    text-wrap: nowrap;
    position: relative;
    left: 6px !important;
}
th#zero2, #one2, #two2, #three2 {
    position: relative;
    left: 25px !important;
    top: -1px !important;
}
table#second2 {
    position: relative;
    top: 2px;
    left: -1px;
    width: 206px !important;
    /* height: 2vh !important; */
    width: 148px;
}
div#controlling {
    position: relative;
    left: 25px;
    border: 1px solid cornflowerblue;
    height: 19.3vh;
}
#input1 {
    position: relative;
    left: -32px;
    width: 106% !important;
    border: none;
}
input#input3 {
    border: none;
}
input#geha {
    width: 100px;
    position: relative;
    left: -103px;
    top: -29px;
border: none;
}
span#edit7 {
    position: relative;
    left: 5px;
top:-13px
;
}
input#mohafza {
    width: 100px;
    position: relative;
    left: -147px;
    top: -3px;
border: none;
}
span#edit3 {
    position: relative;
    left: -255px;
    top: -27px;
  
}
input#ekar {
    width: 100px;
    position: relative;
    top: -26px;
    left: -105px;
border: none;
}
input#street {
    width: 100px;
    position: relative;
    left: -102px;
    top: -28px;
border: none;
}
span#edit1 {
    position: relative;
    top: -50px;
    left: 147px;
}
span#edit8 {
    position: relative;
    left: 300px;
    top: -100px;
}
#number17 {
    position: relative !important;
    left: 120px !important;
}
#input13 {
    position: relative;
    left: -166px !important;
    border: none;
    top: -3px;
}
#input31 {
    position: relative;
    left: -153px !important;
    border: none;
    top: -3px;
}
#number18{
    position: relative !important;
    left: 158px !important; 
    top: 8px ;  
}
label#widthcircle {
    position: relative;
    left: -32px;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
    border-color: cornflowerblue !important;
    width: 106% !important;
    position: relative;
    left: -13px;
}
#row1{
    border: none;
}
#row2{
    border: none;
}
#row3{
    border: none;
}
#row4{
    border: none;
}
input#formGroupExampleInput3 {
    position: relative;
    top: -6px;
    border: none;
}

label#Nautical,label#Eastern,label#Tribal,label#western {
    position: relative;
    left: -24px !important;
}

#thenoteside {
    position: relative;
    left: 25px !important;
    top: -54px !important;
    background: blanchedalmond !important;
    direction: rtl !important;
    font-size: 9px;
    font-weight: 400;
    border: solid 1px;
    padding: 0px 6px;
}
span#notess {
    display: block;
    color: brown;
}
input#input45 {
    width: 80px;
    border: none;
    background: none;
}
input#input46 {
    width: 80px;
    border: none;
    background: none;
}
input#input47 {
    width: 80px;
    border: none;
    background: none;
}